@{
    Layout = "_LayoutAccount";
}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-size1: 100% 50%; background-image: url(/admin-side/demo3/dist/assets/media/illustrations/development-hd-dark.png)">
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <a href="/" class="mb-12 ">
                <img alt="Logo" src="~/images/Logo TT-Swap 512X.png" class="h-70px" />
            </a>
            <div class="text-center mb-10">
                <h1 class="text-light mb-3">Password is changed</h1>
                <div class="text-gray-400 fw-bold fs-4">
                    Your password is successfully changed. Please Sign
                    <br>in to your account and start join ecosystem.
                </div>
            </div>
            <div class="text-center">
                <a href="/login" class="btn btn-primary btn-lg fw-bolder">Sign In</a>
            </div>
        </div>
    </div>
</div>