

@section scripts{
    <script src="~/client-app/controllers/feedback/index.js"></script>
    <script>
        let feedbackController = new FeedbackController();
        feedbackController.initialize();

    </script>

}

<section class="first-screen section section--no-pad-top" style="background-image: url(/client-side/ttswap/img/main_bg.png);" id="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 data-aos="fade-up" data-aos-anchor="#main" data-aos-delay="200">TT-Swap (TTS)</h1>
                <p data-aos="fade-up" data-aos-anchor="#main" data-aos-delay="300" style="text-align:left">
                    TT-Swap will be released on the basis of BNB BSC platform and fully comply with BEP20 standard.
                    <br />
                    Support of this standard guarantees the compatibility of the token with third-party services (wallets, exchanges, listings, etc.), and provides easy integration.
                </p>
                <br />

                <div class="first-screen__btns-wrap" data-aos="fade-up" data-aos-anchor="#main" data-aos-delay="500">
                    <a href="/admin/account/login" class="btn btn--medium btn--orange"><span>Join Now</span></a>
                    <a href="~/whitepaper/WhitePaperTTSwap.pdf" target="_blank" class="btn btn--big btn--blue">Whitepaper</a>
                </div>

                <div class="payments" data-aos="fade-up" data-aos-anchor="#main" data-aos-delay="600">
                    <img src="~/client-side/ttswap/img/visa.png" alt="">
                    <img src="~/client-side/ttswap/img/mc.png" alt="">
                    <img src="~/client-side/ttswap/img/bitcoin.png" alt="">
                    <img src="~/client-side/ttswap/img/paypal.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about section section--no-pad-bot" id="about" style="background-image: url(/client-side/ttswap/img/bg_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img data-aos="fade-right" src="~/client-side/ttswap/img/about-img-1.png" class="img-responsive" alt="">
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <div class="section-header section-header--tire section-header--small-margin">
                    <h4>About Token</h4>
                    <h2>
                        TT-SWAP <span>is the best for Holder</span>
                    </h2>
                </div>

                <p class="text-margin-bot">
                    We are a team of DeFi builders in Asia who wants to build an ecosystem of DeFi products that helps traditional ﬁnance users to access to DeFi services much easier.
                </p>
            </div>
        </div>

    </div>
</section>

<section class="section services" id="services" style="background-image: url(/client-side/ttswap/img/bg_2.jpg);">
    <div class="container">
        <img src="~/client-side/ttswap/img/figure-blue.png" alt="" data-jarallax-element="-40" class="services__figure">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--center section-header--medium-margin">
                    <h2>Outstanding Features</h2>
                    <h4>TTS Token trading platform - Developed by a technology company with a professional team and experienced experts in the field of Blockchain technology, Especially with leading artificial intelligence technology top of the world</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4" data-aos="fade-left" data-aos-delay="200">
                <div class="service-item">
                    <div class="service-item__icon">
                        <img src="~/client-side/ttswap/img/services-icon-1.svg" alt="">
                    </div>
                    <div class="service-item__title">Support</div>
                    <p>
                        Supported on big exchanges DeFi and NFT exchanges
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-left" data-aos-delay="300">
                <div class="service-item">
                    <div class="service-item__icon">
                        <img src="~/client-side/ttswap/img/services-icon-2.svg" alt="">
                    </div>
                    <div class="service-item__title">Speed</div>
                    <p>
                        Liquidity and fast transaction speed
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-left" data-aos-delay="400">
                <div class="service-item">
                    <div class="service-item__icon">
                        <img src="~/client-side/ttswap/img/services-icon-3.svg" alt="">
                    </div>
                    <div class="service-item__title">Fee</div>
                    <p>
                        Low transaction costs
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-left" data-aos-delay="500">
                <div class="service-item">
                    <div class="service-item__icon">
                        <img src="~/client-side/ttswap/img/services-icon-4.svg" alt="">
                    </div>
                    <div class="service-item__title">Farming</div>
                    <p>
                        Farming automatically up to 8%/month, 30% of transaction fees are allocated to Holders in DeFi fund - BNB
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-left" data-aos-delay="600">
                <div class="service-item">
                    <div class="service-item__icon">
                        <img src="~/client-side/ttswap/img/services-icon-5.svg" alt="">
                    </div>
                    <div class="service-item__title">Security</div>
                    <p>
                        100% account security
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4" data-aos="fade-left" data-aos-delay="700">
                <div class="service-item">
                    <div class="service-item__icon">
                        <img src="~/client-side/ttswap/img/services-icon-5.svg" alt="">
                    </div>
                    <div class="service-item__title">Governance</div>
                    <p>
                        Holders can use TTS to vote for governance proposals to change product parameters
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section infoblock" style="background-image: url(/client-side/ttswap/img/infoblock_bg.png);" id="stat">

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="infoblock__list">
                    <div class="infoblock__item" data-aos="fade-up" data-aos-delay="100">
                        <p>
                            Holder
                        </p>
                        <span style="color: #f3d667;">2,333</span>
                    </div>
                    <div class="infoblock__item" data-aos="fade-up" data-aos-delay="200">
                        <p>
                            Exchange
                        </p>
                        <span style="color: #f9778a;">4,278</span>
                    </div>
                    <div class="infoblock__item" data-aos="fade-up" data-aos-delay="300">
                        <p>
                            DeFi - NFT
                        </p>
                        <span style="color: #77c0f6;">46,381</span>
                    </div>
                    <div class="infoblock__item" data-aos="fade-up" data-aos-delay="400">
                        <p>
                            Lock on liquidity
                        </p>
                        <span style="color: #ff5722;">866,301</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section map" id="map" style="background-image: url(/client-side/ttswap/img/bg_3.png);">
    <div class="container">
        <img src="~/client-side/ttswap/img/figure-blue.png" alt="" data-jarallax-element="-40" class="map__figure-1">
        <img src="~/client-side/ttswap/img/figure-pink.png" alt="" data-jarallax-element="-40" class="map__figure-2">
        <div class="row">
            <div class="col">

                <div class="section-header section-header--center section-header--medium-margin">
                    <h4>our way</h4>
                    <h2>Road Map</h2>
                </div>

                <div class="roadmap" data-aos="fade-up">

                    <div class="roadmap__item roadmap__item--past">
                        <div class="roadmap__item-title">
                            Stage 1
                        </div>
                        <div class="roadmap__item-marker"></div>
                        <div class="roadmap__item-text">
                            Allocating TT Token to the community
                            in the airdrop program and registering
                            members at website tt-swap.com, In
                            24 hours, all users with TT, will be
                            returned to the Tronlink wallet, users
                            Self-Governance
                        </div>
                    </div>

                    <div class="roadmap__item  roadmap__item--past">
                        <div class="roadmap__item-title">
                            Stage 2
                        </div>
                        <div class="roadmap__item-marker"></div>
                        <div class="roadmap__item-text">
                            Continue to allocate and swap from Tiktok
                            Token ERC-20 to TT TRC20 during the 1
                            week, period ending April 11th,
                            and pre-sell TT Token, rewards are available
                            for each community connecter.
                        </div>
                    </div>

                    <div class="roadmap__item  roadmap__item--past">
                        <div class="roadmap__item-title">
                            Stage 3
                        </div>
                        <div class="roadmap__item-marker"></div>
                        <div class="roadmap__item-text">
                            Application to the ecosystem, free
                            trade transactions, community
                            connection, Sell TT-Swap Token
                            through Lucky Buy Round program.
                            Apply the new price increase formula,
                            calculated according to the preset
                            time.
                        </div>
                    </div>

                    <div class="roadmap__item  roadmap__item--past">
                        <div class="roadmap__item-title">
                            Stage 4
                        </div>
                        <div class="roadmap__item-marker"></div>
                        <div class="roadmap__item-text">
                            Change and Swap, Convert from TRC20 to
                            Binance Smart Chain Network (Bep20). Airdrop again to attract new community,
                            with the amount of TTS new platform still left
                            undistributed. List TT-Swap TTS (Bep20) on Pancakeswap
                            and other exchanges in December 2021
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section data section--no-pad-top" id="token">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-header section-header--tire section-header--medium-margin">
                    <h2>Token Distribution</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="data-progress" data-aos="fade-up">
                    <div class="data-progress__item" style="box-shadow: 0 0 15px #ffeb3b; background-color: #ffeb3b; width: 10%; ">
                        <p><span>10%</span><br /> Marketing, Airdrop</p>
                    </div>
                    <div class="data-progress__item" style="box-shadow: 0 0 15px #673ab7; background-color: #673ab7; width: 15%; ">
                        <p><span>15%</span><br /> Seed Round</p>
                    </div>
                    <div class="data-progress__item" style="box-shadow: 0 0 15px #ff9800; background-color: #ff9800; width: 15%;">
                        <p><span>15%</span><br /> Private Sale</p>
                    </div>
                    <div class="data-progress__item" style="box-shadow: 0 0 15px #00b5e8; background-color: #00b5e8; width: 10%; ">
                        <p><span>10%</span><br /> Staking</p>
                    </div>
                    <div class="data-progress__item" style="box-shadow: 0 0 15px #10cb6c; background-color: #10cb6c; width: 10%; ">
                        <p><span>10%</span><br /> Farming</p>
                    </div>
                    <div class="data-progress__item" style="box-shadow: 0 0 15px #5775cf; background-color: #5775cf; width: 10%;">
                        <p><span>10%</span><br /> Team</p>
                    </div>
                    <div class="data-progress__item" style="box-shadow: 0 0 15px #cc3d33;background-color: #e81000; width: 30%">
                        <p><span>30%</span><br /> Burning</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
                <ul class="data__list">
                    <li>
                        <b>Token Name: </b> TT-SWAP
                    </li>
                    <li>
                        <b>Ticker Symbol: </b> TTS
                    </li>
                    <li>
                        <b>Decimals:</b> 18
                    </li>
                    <li>
                        <b>Max. Supply (Hard Cap): </b> 15,700,000,000
                    </li>
                    <li>
                        <b>Token Platform: </b> BNB BSC
                    </li>
                    <li>
                        <b>Token Standard:</b> BEP20
                    </li>
                    <li>
                        <b>Address TTS Token:</b>
                        <a href="https://bscscan.com/token/0xbed494c1384b20510ba3a16eb891d1b2a7506479">0xbed494c1384b20510ba3a16eb891d1b2a7506479</a>
                    </li>
                    <li>
                        <b>Address TTS Contract:</b>
                        <a href="https://bscscan.com/address/0xbed494c1384b20510ba3a16eb891d1b2a7506479">0xbed494c1384b20510ba3a16eb891d1b2a7506479</a>
                    </li>
                </ul>
                <a href="/login" class="btn btn--blue btn--medium">Buy Tokens</a>
            </div>
            <div class="col-lg-5">
                <div class="data__images">
                    <img class="data__images-bg" src="~/client-side/ttswap/img/bg_5.png" alt="">
                    <div class="data__images-logo">
                        <img src="~/images/Logo TT-Swap 512X.png" />
                        <p>TT-SWAP</p>
                    </div>
                </div>
            </div>

        </div>
        <img src="~/client-side/ttswap/img/figure-pink.png" alt="" data-jarallax-element="-40" class="data__figure-1">
    </div>
</section>

<section class="section contact" style="background-image: url(/client-side/ttswap/img/footer_bg.png);">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--white section-header--center section-header--medium-margin">
                    <h4>Contact us</h4>
                    <h2>Get in Touch</h2>
                </div>
                <form action="#" class="form contact-form" id="contact-form">
                    <input id="txtFullName" type="text" name="Name" class="form__input" placeholder="Name">
                    <input id="txtEmail" type="email" name="Email" class="form__input" placeholder="Email">
                    <input id="txtTitle" type="text" name="Name" class="form__input" placeholder="Title">
                    <textarea id="txtMessage" name="Message" class="form__textarea" placeholder="Message"></textarea>
                    <button id="btnSendFeedback" class="form__btn btn btn--uppercase btn--orange"><span>Send message</span></button>
                </form>
            </div>
        </div>
    </div>
</section>