<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <title>TT-SWAP</title>
    <meta name="description" content="TT-SWAP" />
    <meta name="keywords" content="TT-SWAP" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="TT-SWAP" />
    <meta property="og:url" content="TT-SWAP" />
    <meta property="og:site_name" content="TT-SWAP" />
    <link rel="canonical" href="TT-SWAP" />
    <link rel="shortcut icon" href="~/images/Logo TT-Swap 512X.png" />
    @*<link rel="icon" href="~/images/Logo TT-Swap 512X.png">*@
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="~/admin-side/demo3/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/admin-side/demo3/dist/assets/plugins/global/plugins.dark.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/admin-side/demo3/dist/assets/css/style.dark.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->

    <link href="~/admin-side/style-admin.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed dark-mode sidebar-enabled">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Aside-->
            @await Html.PartialAsync("_AsidePartial")
            <!--end::Aside-->
            <!--begin::Wrapper-->

            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                @await Html.PartialAsync("_HeaderPartial")
                <!--end::Header-->
                <!--begin::Content-->
                @RenderBody()
                <!--end::Content-->
                <!--begin::Footer-->
                @await Html.PartialAsync("_FooterPartial")
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Sidebar-->
            @await Html.PartialAsync("_SidebarPartial")
            <!--end::Sidebar-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    @await Html.PartialAsync("_UtilityPartial")
    <!--end::Main-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/admin-side/demo3/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/admin-side/demo3/dist/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    @*<script src="~/admin-side/demo3/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>*@
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    @*<script src="~/admin-side/demo3/dist/assets/js/custom/widgets.js"></script>
    <script src="~/admin-side/demo3/dist/assets/js/custom/apps/chat/chat.js"></script>
    <script src="~/admin-side/demo3/dist/assets/js/custom/modals/create-app.js"></script>
    <script src="~/admin-side/demo3/dist/assets/js/custom/modals/upgrade-plan.js"></script>*@
    @*<script src="~/admin-side/demo3/dist/assets/js/custom/authentication/sign-up/coming-soon.js"></script>*@
    <!--end::Page Custom Javascript-->
    <!--end::Javascript-->

    <!--mustache-->
    <script src="~/lib/mustache/mustache.js"></script>

    <!--ckeditor-->
    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <!-- twbs-pagination -->
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>

    <script src="~/admin-app/shared/be.js"></script>

    <script src="~/admin-app/controllers/meta-mask/index.js"></script>

    @RenderSection("Scripts", required: false)
</body>
<!--end::Body-->
</html>