@{
    ViewBag.Title = "Blog Category";
}

@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://rawgit.com/adamjimenez/jstree-table/master/jstreetable.js"></script>
        <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>*@

    <script src="~/admin-side/demo3/dist/assets/plugins/custom/jstree/jstree.bundle.js"></script>
    <script src="~/admin-app/controllers/blog-category/index.js" asp-append-version="true"></script>
    <script>
        var blogCatgoryObj = new BlogCategoryController();
        blogCatgoryObj.initialize();
    </script>
}

@section Styles{
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
        <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
        <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />*@

    <link href="~/admin-side/demo3/dist/assets/plugins/custom/jstree/jstree.bundle.css" rel="stylesheet" />
    <link href="~/admin-app/controllers/blog-category/index.css" rel="stylesheet" asp-append-version="true" />
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container" id="kt_content_container">
        <div class="card mb-5 mb-xl-10">
            <div class="card-header border-0 pt-5">
                <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover">
                    <a href="/admin/blogcategory/addentity" class="btn btn-sm btn-success btn-active-success">
                        <span class="svg-icon svg-icon-3 svg-icon-success">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"></path><rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1"></rect></g></svg>
                        </span>
                        Create New
                    </a>
                </div>
            </div>
            <div class="card-body py-3">
                <div class="table-responsive">
                    <div id="jstree"></div>
                </div>
            </div>
        </div>
    </div>
</div>
