<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <a href="" class="logo">
                    <img class="logo__img--big" src="~/images/Logo TT-Swap 512X.png" alt="">
                </a>
                <div class="copyright">© 2021, TT-SWAP </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <ul class="footer-menu">
                    <li class="footer-menu__item">
                        <a href="#about" class="footer-menu__link">About</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#services" class="footer-menu__link">Services</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#map" class="footer-menu__link">Road Map</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#stat" class="footer-menu__link">Statistic</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#token" class="footer-menu__link">Token</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="~/whitepaper/WhitePaperTTSwap.pdf" target="_blank" class="footer-menu__link">WhitePaper</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#team" class="footer-menu__link">Team</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="social-block">
                    <div class="social-block__title">
                        Join our community
                    </div>
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="https://twitter.com/SwapTT" target="_blank" class="social-list__link">
                                <i class="fontello-icon icon-twitter">&#xf309;</i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.facebook.com/ttswap" target="_blank" class="social-list__link">
                                <i class="fontello-icon icon-facebook">&#xf30c;</i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.youtube.com/channel/UCljhUUtnlY6_qhsMwy8CGTA" target="_blank" class="social-list__link">
                                <i class="fa fa-youtube fa-icon"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://t.me/TTCryptochannel" target="_blank" class="social-list__link">
                                <i class="fontello-icon icon-telegram">&#xf2c6;</i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://t.me/TTSwapToken" target="_blank" class="social-list__link">
                                <i class="fontello-icon icon-telegram">&#xf2c6;</i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.reddit.com/r/TT_Swap/" target="_blank" class="social-list__link">
                                <i class="fa fa-reddit fa-icon"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://medium.com/@@TT-Swap" target="_blank" class="social-list__link">
                                <i class=" fa fa-medium fa-icon"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="support@tt-swap.net" target="_blank" class="social-list__link">
                                <i class="fa fa-google fa-icon"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" target="_blank" class="social-list__link">
                                <i class="fa fa-linkedin fa-icon"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://github.com/supportttswap/TT-Swap" target="_blank" class="social-list__link">
                                <i class="fa fa-github fa-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>