<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>TT-SWAP</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="~/images/Logo TT-Swap 512X.png">
    <link rel="icon" href="~/images/Logo TT-Swap 512X.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/Logo TT-Swap 512X.png">
    <meta name="theme-color" content="#000">
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/client-side/ttswap/css/main.min.css">
    <link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/lib/notify/css/jquery.growl.css" rel="stylesheet">
    <!-- Load google font
    ================================================== -->
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Catamaran:300,400,600,700,900', 'Raleway:100,700', 'Roboto:700,900'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = '/client-side/ttswap/js/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- Load other scripts
    ================================================== -->
    <script type="text/javascript">
        var _html = document.documentElement;
        _html.className = _html.className.replace("no-js", "js");
    </script>

    <style>
        .preloader {
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: #fff;
            z-index: 9999;
        }
    </style>

</head>

<body>

    <div class="preloader"></div>

    <div class="wrapper">
        @await Html.PartialAsync("_Header")

        @RenderBody()

        @await Html.PartialAsync("_Footer")
    </div>

    <script src="~/client-side/ttswap/js/jquery.min.js"></script>
    <script src="~/client-side/ttswap/js/jquery-2.2.4.min.js"></script>
    <script src="~/client-side/ttswap/js/scripts.min.js"></script>

    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/notify/rainbow.js"></script>
    <script src="~/lib/notify/jquery.growl.js"></script>


    <script src="~/client-app/shared/be.js"></script>

    <script src="~/client-app/controllers/feedback/index.js"></script>
    <script>
        var feedbackObj = new FeedbackController;
        feedbackObj.initialize()
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>