<div class="row">
    <div class="col-sm-12 col-md-4 mt-5 d-flex align-items-center justify-content-center justify-content-md-start">
        <div class="dataTables_length">
            <label>
                <select id="ddl-show-page" aria-controls="kt_project_users_table" class="form-select form-select-sm form-select-solid">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </label>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 mt-5 d-flex align-items-center justify-content-center justify-content-md-end">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination" id="paginationUL"></ul>
        </div>
    </div>
</div>