@using Microsoft.AspNetCore.Authorization
@using BeCoreApp.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewBag.Title = "Member";
}

@section Scripts{
    <script src="~/admin-app/controllers/user/customers.js" asp-append-version="true"></script>
    <script>
        var customerObj = new CustomerController();
        customerObj.initialize();
    </script>
}
@section Styles{
    <link href="~/admin-app/controllers/user/customers.css" rel="stylesheet" asp-append-version="true" />
}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container" id="kt_content_container">
        <div class="d-flex flex-wrap flex-stack pb-7">
            <div class="d-flex flex-wrap align-items-center my-1">
                <div class="d-flex align-items-center position-relative my-1">
                    <span class="svg-icon svg-icon-3 position-absolute ms-3">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                            </g>
                        </svg>
                    </span>
                    <input type="text" id="txt-search-keyword" class="form-control form-control-white form-control-sm w-150px ps-9" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="card mb-5 mb-xl-10">
            <div class="card-body py-3">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                            <tr class="fw-bolder text-muted">
                                <th class="min-w-150px">Sponsor<br />Email<br />BNB BEP20 Address<br />Register BEP20 Address</th>
                                <th class="min-w-100px">Lock<br />Invest</th>
                                <th class="min-w-150px">TT-SWAP Affiliate<br />TT-SWAP Commission</th>
                                <th class="min-w-150px">BNB BEP20<br />BNB Affiliate</th>
                                <th class="min-w-100px">Verify Email<br />Create Date</th>
                                <th class="min-w-70px">Function</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("Paging")
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">{{Sponsor}}</a>
            <span class="text-muted fw-bold text-muted d-block fs-7">{{Email}}</span>
            <span class="text-muted fw-bold text-muted d-block fs-7">{{MainPublishKey}}</span>
            <span class="text-muted fw-bold text-muted d-block fs-7">{{BNBBEP20PublishKey}}</span>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{LockBalance}}</a>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-7">{{InvestBalance}}</span>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{TTSAffiliateBalance}}</a>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-7">{{TTSCommissionBalance}}</span>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{MainBalance}}</a>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-7">{{BNBAffiliateBalance}}</span>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">{{{EmailConfirmed}}}</a>
            <span class="text-muted fw-bold text-muted d-block fs-7">{{DateCreated}}</span>
        </td>
        <td>
            <a href="#" data-id="{{Id}}" class="btn-delete btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                <span class="svg-icon svg-icon-3 svg-icon-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                </span>
            </a>
        </td>
    </tr>
</script>